# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.MidiProject.iml
# Datasource local storage ignored files
/../../../../../../:\Projects\MidiProject\.idea\.idea.MidiProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
